@use "variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  letter-spacing: 1.25px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.largeHeader {
  @include headings();
  font-size: 2.25rem;

  @media (min-width: 700px) {
    font-size: 3rem;
  }
}

.bigHeader {
  @include headings();
  font-size: 1.75rem;

  @media (min-width: 700px) {
    font-size: 2.2rem;
  }
}

.midHeader {
  @include headings();
  font-size: 1.2rem;

  @media (min-width: 700px) {
    font-size: 1.7rem;
  }
}
